.row
  .col.s6.offset-s3
    %h4.light
      Shorten your link
    .card.large
      = form_for @link do |f|
        .card-image
          %img{src: "https://brainsyndicate.files.wordpress.com/2010/12/pizzly.jpg"}
          %span.card-title.red-text.text-darken-2
            Make your links manageable.
        .card-content
          .row
            .input-field.col.s9
              = f.text_field :origin, {placeholder: "Paste your URL, shrink it, and share.", required: 'required', class: 'validate'}
            .input-field.col.s3
              %button.btn.waves-effect.waves-light{type: "submit", name: "commit"}
                Submit
